/* NAVIGATION */
div.bottom-nav div {
    padding: 5px;
    text-align: center;
    font-size: 16px;
}
div.bottom-nav div > a {
    display: inline-block;
    font-weight: 600;
    width: 100%;
    padding: 4px;
    color: black;
    cursor: pointer;
    background: #ffff8d;
    -webkit-transition: background-color 300ms ease;
    -ms-transition: background-color 300ms ease;
    transition: background-color 300ms ease;
}
div.bottom-nav div > a:hover {
    background-color: #ffea00;
}
div.bottom-nav div > a.disabled {
    pointer-events: none;
    cursor: default;
    background: #424242;
}
div.bottom-nav div > a i.material-icons {
    line-height: 0px;
    position: relative;
    top: 9px;
    margin-left: -1px;
}
.bottom-nav div a.current-btn {
    font-weight: 600;
    background-color: #ffea00;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}


.catalogue .col {
    padding: 7px;
}

.catalogue div.card {
    margin: 0px;
    border-radius: 0px;
    padding-bottom: 100%;
    height: 0;
    transition: all .1s ease-in-out;
    cursor: pointer;
    text-align: center;
    position: relative;
}

.catalogue div.card:hover {
    transform: scale(1.04);
    z-index: 1;
}

.catalogue > div:hover > div.ct-item .ct-item-img .ct-item-title-detailed {
    display: block;
    background-color: #ffff8d;
}

.catalogue .col {
    padding: 5px;
}
.catalogue div.ct-item {
    margin: 0px;
    border-radius: 0px;
    padding-bottom: 100%;
    height: 0;
    transition: all .1s ease-in-out;
    cursor: pointer;
    text-align: center;
    position: relative;
}
.catalogue div.ct-item:hover {
    transform: scale(1.03);
    z-index: 1;
}
.catalogue div.ct-item > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.catalogue div.ct-item .ct-item-title {
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    padding: 5px;
    position: relative;
}

.catalogue div.ct-item .ct-item-title-detailed p {
    line-height: 100%;
    font-size: 12px;
    font-weight: 600;
}

.catalogue div.ct-item .ct-item-title-detailed {
    display: none;
}
