.catalogue .col {
    padding: 5px;
}
.catalogue div.ct-item {
    margin: 0px;
    border-radius: 0px;
    padding-bottom: 100%;
    height: 0;
    transition: all .1s ease-in-out;
    cursor: pointer;
    text-align: center;
    position: relative;
}
.catalogue div.ct-item:hover {
    transform: scale(1.03);
    z-index: 1;
}
.catalogue div.ct-item > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.catalogue div.ct-item .ct-item-title {
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.catalogue div.ct-item .ct-item-title.item-tooltip:hover .tooltiptext {
    display: block;
}
.catalogue div.ct-item .ct-item-title .tooltiptext {
    display: none;
    margin-left: 0px;
    margin-top: -30px;
    position: absolute;
    z-index: 1000;
    background: #626262;
    font-size: 12px;
    font-style: italic;
    padding: 0px 5px;
    color: white;
}

.catalogue div.ct-item .ct-item-title .el-delete {
    position: absolute;
    top: 1px;
    right: 1px;
    font-size: 20px;
    background: #ffea00;
    line-height: 14px;
}
.catalogue div.ct-item div.rating {
    display: block;
    text-align: center;
    padding: 3px;
    margin: 0;
}

/* NAVIGATION */
div.bottom-nav div {
    padding: 5px;
    text-align: center;
    font-size: 16px;
    padding-bottom: 0px;
}
div.bottom-nav div > a {
    display: inline-block;
    font-weight: 600;
    width: 100%;
    padding: 4px;
    color: black;
    cursor: pointer;
    background: #ffff8d;
    -webkit-transition: background-color 300ms ease;
    -ms-transition: background-color 300ms ease;
    transition: background-color 300ms ease;
}
div.bottom-nav div > a:hover {
    background-color: #ffea00;
}
div.bottom-nav div > a.disabled {
    pointer-events: none;
    cursor: default;
    background: #424242;
}
div.bottom-nav div > a i.material-icons {
    line-height: 0px;
    position: relative;
    top: 9px;
    margin-left: -1px;
}

.bottom-nav div a.current-btn {
    font-weight: 600;
    background-color: #ffea00;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


/* MODAL */
.catalogue .modal {
    min-width: 280px;
}
.catalogue div.modal-content {
    padding: 0px;
    margin: 0px;
}
.catalogue .modal-img {
    padding: 10px;
    display: flex;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    float: left;
    margin-right: 10px;
}
.catalogue .item-modal-info {
    padding: 20px;
    text-align: left;
    margin-bottom: 60px;
}
.catalogue .item-modal-info h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    clear: both;
}
.catalogue .item-modal-info.full-width{
    width: 100%;
}
.catalogue .item-modal-info .rating .material-icons {
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}

.catalogue .modal-edit-active form {
    display: inline-block;
    margin-bottom: 60px;
    width: 100%;
}
.catalogue .modal-edits {
    background: #bdbdbd;
    height: auto;
    width: calc(100% - 7px);
    text-align: center;
}
.catalogue .modal-edit-active input::-webkit-input-placeholder {
    color: black;
}
.modal .modal-footer .btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-flat {
    margin: 0px 5px;
}

/* WARNING MODAL */
#warning-modal {
    width: 280px !important ;
    height: 220px !important;
    text-align: center;
}
#warning-modal.modal .modal-footer .btn,
#warning-modal.modal .modal-footer .btn-large,
#warning-modal.modal .modal-footer .btn-flat {
    float: none;
    text-align: center;
}
#warning-modal .modal-content {
    padding: 20px;
    overflow: hidden;
}
@media screen and (min-width: 993px) {
    .catalogue .modal {
    width: 75% !important ;
    height: 85% !important ;
    }
}

@media screen and (min-width: 601px) {
    .catalogue .item-modal-info h4 {
    clear: none;
    }
}

h2.nothing-found {
    color: #ffea00;
    text-align: center;
}

control-messages {
    color: red;
}