.catalogue .col {
    padding: 5px;
}

.catalogue div.card {
    margin: 0px;
    border-radius: 0px;
    padding-bottom: 100%;
    height: 0;
    transition: all .1s ease-in-out;
    cursor: pointer;
    text-align: center;
    position: relative;
}

.catalogue div.card:hover {
    transform: scale(1.03);
    z-index: 1;
}

.catalogue div.card div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.catalogue .card-title {
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    padding: 5px;
}
.catalogue .item-ammount {
    display: block;
    text-align: center;
    font-size: 80px;
    line-height: 80px;
    font-weight: 100;
}