<div class="row bottom-nav">
    <div class="col s6 m4">
        <a class="prev-btn" [class.disabled]="!showPrev" (click)="getPrev()">&#60;&#60;</a>
    </div>
    <div class="col s12 m4">
        <a class="toggle-btn">Toggle</a>
    </div>
    <div class="col s6 m4">
        <a class="next-btn" [class.disabled]="!showNext" [class.full-width] (click)="getNext()">&#62;&#62;</a>
    </div>
</div>
<div class="row catalogue" *ngIf="ifCategories">

    <div class="col s12 m4" *ngFor="let category of pageTable"
       (mouseover)="category.showDelete = true"
       (mouseleave)="category.showDelete = false"
       (click)="onClick(category.name)">
        <div class="card z-depth-0 yellow accent-3" (click)="category.showDelete = false">
            <div>
                <span class="card-title">{{category.name | uppercase}}</span>
                <span class="item-ammount">{{category.amountOfItems}}</span>
                <span class="el-delete" *ngIf="category.showDelete" (click)="deleteCategory($event, category.name)">&times;</span>
            </div>
        </div>
    </div>
</div>