<div class="row catalogue" *ngIf="ifCategories">

    <div class="col s12 m4" *ngIf="showPrev">
        <div class="card z-depth-0 yellow accent-1" (click)="getPrev()">
            <div>
                <img src="assets/icons/prev.svg">
            </div>
        </div>
    </div>

    <div class="col s12 m4" *ngFor="let category of pageTable | searchPipe : search">
        <div class="card z-depth-0 yellow accent-3" (click)="onClick(category.name)">
            <div>
                <span class="card-title">{{category.name | uppercase}}</span>
                <span class="item-ammount">{{category.amountOfItems}}</span>
            </div>
        </div>
    </div>

    <div class="col s12 m4" *ngIf="showNext">
        <div class="card z-depth-0 yellow accent-1" (click)="getNext()">
            <div>
                <img src="assets/icons/next.svg">
            </div>
        </div>
    </div>
</div>