#login, #register {
    width: 400px;
}
#login.open {
    top: 15%;
}
.input-field {
    margin-top: 0;
}
.modal .modal-content {
    padding: 10px 24px;
}
.row {
    margin-bottom: 0;
}
.modal-heading {
    text-align: center;
    font-size: 30px;
}
.modal .modal-footer .btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-flat {
    margin: 0 35px;
}

control-messages {
    color: red;
    font-weight: bold;
}

.error {
    margin: 10px;
    text-align: center;
    color: red;
    padding: 10px;
    font-weight: bold;
}

.background {
    background-image: url('../../assets/img/background.png');
    background-size: cover;
    max-height: 100%;
    height: 100vh;
    width: auto;
}

.modal {
    color: yellow;
}
