#login, #register {
    width: 400px;
}
.input-field {
    margin-top: 0;
}
.modal .modal-content {
    padding: 10px 24px;
}
.row {
    margin-bottom: 0;
}
.modal-heading {
    text-align: center;
    font-size: 30px;
}
.modal .modal-footer .btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-flat {
    margin: 0 35px;
}

control-messages {
    color: red;
}

.error {
    margin: 10px;
    text-align: center;
    color: red;
    padding: 10px;
}
