<div class="container ">
  <table id="gameTable" class="centered" (click)="nextStep($event)">
    <tr>
      <td><div>{{playingGround[0][0]}}</div></td>
      <td><div>{{playingGround[0][1]}}</div></td>
      <td><div>{{playingGround[0][2]}}</div></td>
    </tr>
    <tr>
      <td><div>{{playingGround[1][0]}}</div></td>
      <td><div>{{playingGround[1][1]}}</div></td>
      <td><div>{{playingGround[1][2]}}</div></td>
    </tr>
    <tr>
      <td><div>{{playingGround[2][0]}}</div></td>
      <td><div>{{playingGround[2][1]}}</div></td>
      <td><div>{{playingGround[2][2]}}</div></td>
    </tr>
  </table>
</div>
