<div (mouseover)="editButton = true" (mouseleave)="editButton = false" *ngIf="!changeTrigger&&!infoTrigger">

    <div class="profile-edit-btn hidden" *ngIf="editButton">
        <a class="btn-floating btn-large yellow accent-3" (click)="showInfo()">
            <i class="large material-icons grey-text text-darken-3">info_outline</i>
        </a>
    </div>


    <div class="prof-img grey darken-3">
        <img class="responsive-img" [src]="user.photoUrl" onError="this.src='/assets/img/mock.jpg'">
    </div>

    <div class="profile-details grey darken-3">
        <div class="profile-wrapper">
            <div class="profile-icon">
                <img src="/assets/icons/user-icon.svg">
            </div>
            <div class="profile-name">
                <span class="user-name">{{user.username | uppercase}}</span>
                <br>
            </div>
            <div class="user-stats">
                <span>Collections:</span><span class="yellow-text text-accent-3"><b> {{categories.length}}</b></span>
                <br>
                <span>Items:</span><span class="yellow-text text-accent-3"><b> {{itemsAmount.amountOfItems}}</b></span>
            </div>
        </div>
    </div>

</div>

<div *ngIf="infoTrigger">
  <div class="profile-details info grey darken-3">
    <div class="user-stats-change">
      <span>My email: </span><span class="yellow-text text-accent-3">{{user.email}}</span>
      <br>
      <span>About me: </span><span class="yellow-text text-accent-3">{{user.info}}</span>
      <br>
      <a class="btn-floating yellow accent-3 change-info-button" (click)="showChange()">
        <i class="large material-icons grey-text text-darken-3">mode_edit</i>
      </a>
      <a class="btn-floating yellow accent-3 change-info-button" (click)="showUser()">
        <i class="large material-icons grey-text text-darken-3">perm_identity</i>
      </a>
    </div>

  </div>
</div>

<div *ngIf="changeTrigger" class="change-user-data">
  <form [formGroup]="infoForm" class="profile-form grey darken-3">
    <div class="input-field">
      <input id="email" type="email" formControlName="email" value={{user.email}}>
      <label for="email" class="active">Email</label>
    </div>

    <div class="input-field">
      <textarea id="message" class="materialize-textarea" formControlName="info" value={{user.info}}></textarea>
      <label for="message" class="active">Info</label>
    </div>
    <div class="center-align">
      <button class="btn yellow accent-3 grey-text text-darken-3 waves-effect waves-light" type="submit" [disabled]="!infoForm.valid" (click)="changeInfo()">Change Data
      </button>
      <button class="btn yellow accent-3 grey-text text-darken-3 waves-effect waves-light" type="submit" (click)="showUser()">Close
      </button>
    </div>
    
  </form>
</div>

