<div (mouseover)="editButton = true" (mouseleave)="editButton = false" *ngIf="!changeTrigger&&!infoTrigger">

  <div class="prof-img grey darken-3">
    <img class="responsive-img" [src]="user.photoUrl" onError="this.src='/assets/img/mock.jpg'">
  </div>

  <div class="profile-details grey darken-3">
      
  <div class="profile-edit-btn hidden" *ngIf="editButton">
    <a class="btn-floating btn-medium yellow accent-3" (click)="showInfo()">
      <i class="large material-icons grey-text text-darken-3">info_outline</i>
    </a>
  </div>
   
    <div class="profile-wrapper">
      <div class="profile-icon valign-wrapper">
        <img src="/assets/icons/user-icon.svg" class="valign">
      </div>
      <div class="profile-name">
        <span class="user-name">{{user.username | uppercase}}</span>
        <br>
      </div>
      <div class="user-stats">
        <span>Collections:</span><span class="yellow-text text-accent-3"><b> {{categories.length}}</b></span>
        <br>
        <span>Items:</span><span class="yellow-text text-accent-3"><b> {{itemsAmount.amountOfItems}}</b></span>
      </div>
    </div>
  </div>

</div>

<div *ngIf="infoTrigger">
  <div class="profile-details info grey darken-3">
    <div class="user-stats-change">
      <div *ngIf="user.email" class="user-props">
        <span>My email: </span><span class="yellow-text text-accent-3">{{user.email}}</span>
      </div>
      <div *ngIf="user.telephone" class="user-props">
        <span>My phone: </span><span class="yellow-text text-accent-3">{{user.telephone}}</span>
      </div>
      <div *ngIf="user.city" class="user-props">
        <span>My city: </span><span class="yellow-text text-accent-3">{{user.city}}</span>
      </div>
      <div *ngIf="user.info" class="user-props">
        <span>About me: </span><span class="yellow-text text-accent-3">{{user.info}}</span>
      </div>
      
      <a class="btn-floating yellow accent-3 change-info-button" (click)="showChange()">
        <i class="large material-icons grey-text text-darken-3">mode_edit</i>
      </a>
      <a class="btn-floating yellow accent-3 change-info-button" (click)="showUser()">
        <i class="large material-icons grey-text text-darken-3">perm_identity</i>
      </a>
    </div>

  </div>
</div>

<div *ngIf="changeTrigger" class="change-user-data">
  <form [formGroup]="infoForm" class="profile-form grey darken-3">
    <div class="input-field">
      <input id="email" type="email" formControlName="email" [(value)]="user.email">
      <label for="email" class="active">Email</label>
    </div>

    <div class="input-field">
      <input id="telephone" type="text" formControlName="telephone" [(value)]="user.telephone">
      <label for="telephone" class="active">Phone</label>
    </div>

    <div class="input-field">
      <input id="city" type="text" formControlName="city" [(value)]="user.city">
      <label for="city" class="active">City</label>
    </div>

    <div class="input-field">
      <input id="photo" type="text" formControlName="photoUrl" [(value)]="user.photoUrl">
      <label for="photo" class="active">Photo URL</label>
    </div>

    <div class="input-field">
      <textarea id="message" class="materialize-textarea" formControlName="info" [(value)]="user.info"></textarea>
      <label for="message" class="active">Info</label>
    </div>
    <div class="center-align">
      <button class="btn yellow accent-3 grey-text text-darken-3 waves-effect waves-light" type="submit" [disabled]="!infoForm.valid"
        (click)="changeInfo()">Change Data
      </button>
      <br>
      <button class="btn yellow accent-3 grey-text text-darken-3 waves-effect waves-light" type="submit" (click)="showUser()">Close
      </button>
    </div>

  </form>
</div>

<div class="profile-nav">
  <div class="profile-nav-item" (click)="showCategories()">
    <div class="yellow accent-3 active">
      <img src="/assets/icons/category-icon-active.svg">
      <span class="grey-text text-darken-3">CATEGORIES</span>
    </div>
  </div>
  <div class="profile-nav-item" (click)="showItems()">
    <div class="grey darken-3">
      <img src="/assets/icons/item-icon.svg">
      <span class="">ITEMS</span>
    </div>
  </div>
</div>

<app-global-search></app-global-search>