/*
* — Profile —
*/
.profile-edit-btn {
    position: absolute;
    bottom: 38%;
    right: 20px;
}
.prof-img img {
    width: 100%;
}
.profile-details {
    height: 0;
    padding: 7px 7px 31% 7px;
    font-size: 22px;
    line-height: 24px;
    font-weight: 100;
    position: relative;
}
.profile-form {
    height: 0px;
    padding: 7px;
    padding-bottom: 100%;
}
textarea#message {
    padding: 1rem 0rem 0rem 0rem;
    min-height: 2rem;
    height: 2rem;
}
.profile-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.profile-icon {
    flex: 0 1 100%;
    width: 30%;
    text-align: center;
    padding-top: 10%;

}
.profile-name,
.user-stats {
    flex: 0 1;
    width: 70%;
}
.user-stats {
    font-size: 17px;
    line-height: 18px;
    font-weight: 100;
}