nav {
  padding: 10px 0px 5px;
  height: 64px;
}

nav .container {
  height: 49px;
}

.profile-icon {
  cursor: pointer;
}

#search {
  height: 35px;
  margin: 0px;
  position: absolute;
  top: 10px;
}

.nav-icons ul {
  display: flex;
  justify-content: center;
}

.nav-icons ul li {
  cursor: pointer;
  width: 49px;
  text-align: center;
}

.nav-icons ul li:hover {
  background: #424242;
}

div.filter {
  height: 49px;
  margin: 0px;
  padding: 0px;
  position: relative;
}

.nav-select {
  background-color: #ffea00;
  display: inline-block;
  color: rgba(0, 0, 0, 0.870588);
  border: none;
  height: 35px;
  position: absolute;
  top: 10px;
  cursor: pointer;
}

.nav-icon {
  color: #ffea00;
}

.modal {
  color: #ffea00;
  max-width: 550px;
}

.error {
  color: red;
}

@media (max-width: 992px) {
  #search {
    position: static;
    margin: 10px 0 4px 0;
  }

  .brand-logo {
    top: 0;
    height: 64px;
  }

  .pull-l4 {
    padding: 0 5px;
  }
}

@media (max-width: 602px) {
  .brand-logo {
    height: 35px;
    margin-top: 5px;
    left: 40%;
  }
}

control-messages {
  color: red;
}

