nav {
  padding: 10px 0px 5px;
  height: 64px;
}
nav .container {
    height: 49px;
}
#search {
  height: 49px;
  margin: 0px;
}
.nav-icons ul {
  display: flex;
  justify-content: center;
}

.nav-icons ul li {
  cursor: pointer;
  width: 49px;
  text-align: center;
}

.nav-icons ul li:hover {
  background: #424242;
}
div.filter {
    height: 49px;
    margin: 0px;
    padding: 0px;
    position: relative;
}
.nav-select {
  background-color: #ffea00;
  display: inline-block;
  color: rgba(0, 0, 0, 0.870588);
  border: none;
  height: 49px;
  position: absolute;
  top: 0;
}

.nav-icon {
  color: #ffea00;
}

/*modals*/
#nav-modal {
  background-color: rgba(0, 0, 0, 0.87);
}

#nav-modal .input-field input{
  height: 44px;
  margin: 10px 0 0 0;
  padding-left: 85px;
  border-bottom: 1px solid #ffea00;
}

.btn {
  background-color: #ffea00;
  color: rgba(0, 0, 0, 0.87);
}

label {
  color: #ffea00;
}
