nav {
  padding: 14px 0px 0px 0px;
  height: 78px;
}

#search {
  height: 55px;
}

.nav-icons ul {
  display: flex;
  justify-content: center;
}

.nav-icons ul li {
  cursor: pointer;
  width: 64px;
  text-align: center;
}

.nav-icons ul li:hover {
  background: #424242;
}

.nav-select {
  background-color: #ffea00;
  display: inline-block;
  color: rgba(0, 0, 0, 0.870588);
  margin-bottom: 6px;
}



