nav {
  padding: 14px 0px 0px 0px;
  height: 78px;
}

#search {
  height: 44px;
  margin: 10px 0 0 0;
}

.nav-icons ul {
  display: flex;
  justify-content: center;
}

.nav-icons ul li {
  cursor: pointer;
  width: 64px;
  text-align: center;
}

.nav-icons ul li:hover {
  background: #424242;
}

.nav-select {
  background-color: #ffea00;
  display: inline-block;
  color: rgba(0, 0, 0, 0.870588);
  margin-bottom: 4px;
  border: none;
}

.nav-icon {
  color: #ffea00;
}

/*modals*/
#nav-modal {
  background-color: rgba(0, 0, 0, 0.87);
}

#nav-modal .input-field input{
  height: 44px;
  margin: 10px 0 0 0;
  padding-left: 85px;
  border-bottom: 1px solid #ffea00;
}

.btn {
  background-color: #ffea00;
  color: rgba(0, 0, 0, 0.87);
}

label {
  color: #ffea00;
}
