nav {
  padding: 14px 0px 0px 0px;
  height: 78px;
}

.nav-icons ul {
  display: flex;
  justify-content: center;
}

.nav-icons ul li {
  cursor: pointer;
  width: 64px;
  text-align: center;
}

.nav-icons ul li:hover {
  background: #424242;
}


