/* You can add global styles to this file, and also import other style files */
.container {
  width: 80%;
  max-width: 800px;
}
.row {
  margin-top: 0px;
  margin-bottom: 0px;
}
.input-yellow[type="search"]:focus:not([readonly]),
.input-yellow[type="text"]:focus:not([readonly]),
.input-yellow[type="password"]:focus:not([readonly]),
.input-yellow[type="email"]:focus:not([readonly]) {
  border-bottom: 1px solid #ffea00;
  box-shadow: 0 1px 0 0 #ffea00;
}

text-area.input-yellow:focus:not([readonly]) {
  border-bottom: 1px solid #ffea00;
  box-shadow: 0 1px 0 0 #ffea00;
}
text-area.input-yellow:focus:not([readonly]) + label {
  color: #ffea00;
}


.input-yellow[type="search"]:focus:not([readonly]) + label,
.input-yellow[type="text"]:focus:not([readonly]) + label,
.input-yellow[type="password"]:focus:not([readonly]) + label,
.input-yellow[type="email"]:focus:not([readonly]) + label {
  color: #ffea00;
}