.modal {
  background-color: rgba(0, 0, 0, 0.87);
  color:#FFF;
}

.container > .btn {
  margin-top: 20px;
  display: block;
  width: 100%;
  border-radius: none;
}

div.col.profile {
  padding: 5px;
  position: relative;
}

.fixed {
  position: fixed;
  right: 5px;
  bottom: 3px;
  padding: 0 5px;
  color: lightgrey;
  font-size: 27px;
}

.fixed:hover {
  background: #424242;
  cursor: pointer;
}

