/*
* — Navigation —
*/
nav {
    padding: 10px 0px 0px 0px;
    height: 64px;
}
.nav-icons ul {
    display: flex;
    justify-content: center;
}
.nav-icons ul li {
    cursor: pointer;
    width: 54px;
    text-align: center;
}
.nav-icons ul li:hover {
    background: #424242;
}


div.col.profile {
    padding: 5px;
    position: relative;
}


